.box{
	width: 100%;
	background-color: #FFF;
	border-radius: 5px;
	margin-top: 50px;
}

@media screen and (min-width: 1024px) {
	.box{
		width: 450px;
		margin: 90px auto 0 auto;
	}	
}

.ava{
	padding-top: 27px;
}

.ava img{
	margin: auto;
	display: block;
	width: 80px;
	height: 80px;
	vertical-align: middle;
  	border-radius: 50%;
  	background-size: cover;
  	background-position: 100px;
}

.welcome{
	line-height: 3px;
}

.welcome h1{
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

.welcome p{
	font-size: 12px;
	text-align: center;
	opacity: .5;
}

.form{
	width: 240px;
	margin: auto;
}

.form button{
	width: 110px;
	margin: auto;
}

.form p{
	padding-left: 20px;
	display: inline;
	font-size: 12px;
	opacity: .5;
}

.or p{
	padding: 33px 0 33px 0;
	text-align: center;
	opacity: .7;
}

.sosmed{
	text-align: center;
	padding-bottom: 19px;
}

.sosmed p{
	opacity: .5;
	font-size: 12px;
	display: inline-block;
}

.sosmed img{
	width: 25px;
	height: 25px;
}